.contacts {
  padding: 80px 0 50px 0;
}

@media screen and (max-width: 500px) {
  .contacts {
    padding: 50px 0 58px 0;
  }
}

.contacts__title {
  font-weight: 600;
  margin: 0 0 54px 0;
}

@media screen and (max-width: 1300px) {
  .contacts__title {
    margin: 0 0 35px 0;
  }
}

.contacts__text {
  margin: 40px 0 80px 0;
}

@media screen and (max-width: 1300px) {
  .contacts__text {
    margin: 32px 0 72px 0;
  }
}

@media screen and (max-width: 500px) {
  .contacts__text {
    margin: 24px 0 64px 0;
  }
}

.contacts__row {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px 0;
}

@media screen and (max-width: 500px) {
  .contacts__row {
    flex-wrap: wrap;
  }
}

.contacts__info {
  flex: 0 0 50%;
  margin: 0 30px 0 0;
}

@media screen and (max-width: 1300px) {
  .contacts__info {
    margin: 0 20px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .contacts__info {
    flex-basis: 100%;
    margin: 0 0 50px 0;
  }
}

.contacts__position {
  width: 571px;
}

@media screen and (max-width: 1300px) {
  .contacts__position {
    width: 486px;
  }
}

@media screen and (max-width: 500px) {
  .contacts__position {
    width: 290px;
  }
}

.contacts__position:last-child {
  margin: 0;
}

.contacts__message {
  flex: 0 0 50%;
}

@media screen and (max-width: 500px) {
  .contacts__message {
    flex-basis: 100%;
  }
}

.contacts__area {
  width: 569px;
  height: 174px;
  font-family: "Open Sans";
  color: #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

@media screen and (max-width: 1300px) {
  .contacts__area {
    width: 486px;
  }
}

@media screen and (max-width: 510px) {
  .contacts__area {
    width: 290px;
    height: 182px;
  }
}

.contacts__button {
  display: flex;
  justify-content: center;
}

.red-button {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #ffffff;
  width: 370px;
  height: 58px;
  border: 1px solid white;
  background-color: #ec7979;
}

@media screen and (max-width: 1300px) {
  .red-button {
    width: 318px;
  }
}

.red-button:hover {
  background: #ab4949;
}

.red-button:active {
  background: #ec7979;
  box-shadow: inset 0px 0px 10px #ab4949;
}
